@media (min-width: 1000px) {
    .app_container{
        /*display: flex;
        flex-wrap: wrap;*/
        /*display: flex;*/
        margin: auto;
        max-width: 28cm;
        /*max-width: 20cm;*/
        height: 100%;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;
        /*overflow-y: scroll;*/
        background-image: linear-gradient(#E1ECF2, #FFFFFF);
    }

    .menu-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
    }

    .upload-image-container {
        display: flex;
        justify-content: flex-start;
        position: relative;
        width: 62%;
        margin: 0;
        overflow: hidden;
    }

    .prediction-container{
        flex-grow: 1;
        width: 100%;
        background-color: red;
    }

    #slider-container{
        width: 100%;
        margin-top: 10px;
    }

    #pca_slider_0, #pca_slider_1, #pca_slider_2 {
        margin-top: 0.5cm;
        width: 45%;
        transform: scale(1.5);
    }

    #title {
        position: sticky;
        width: 100%;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 10px;
        padding-top:10px;
        padding-bottom: 10px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 700;
        font-size: 60px;
        border-radius: 0 0 5px 5px;
        background-color: #393C3D;
        color: #E1ECF2;
    }

    .description {
        margin: 10px;
        width: 33%;
        font-family: 'Noto Sans', sans-serif;
        font-size: 20px;
        text-align: justify;
        color: #393C3D;
    }

    #upload-layout {
        width: 100%;
    }

    #embedding-plot-container {
        width: 50%;
        max-width: 15vw;
        max-height: 10vw;
        position: absolute;
        top: -20%;
        right: 0%;
    }

    .upload-image {
        width: 50%;
        /*max-height: 6cm;
        max-width: 6cm;*/
        max-width: 25vw;
        max-height: 25vw;
        object-fit: cover;
        border-width: 2px;
        border-style: solid;
        border-radius: 20px;
        border-color: #393C3D;
        text-align: center;
        margin: auto;
        padding: 0;
        margin-bottom: 10px;
    }

    #select-description {
        font-family: 'Noto Sans', sans-serif;
        color: #999999;
        font-size: 20px;
    }

    #drag-box {
        position: relative;
    }

    #output-image-upload {
        margin: 5px;
    }

    #embedding-plot {
    }

    #output-image-prediction {
        width: 100%;
        display: flex;
        height: 15vw;
        overflow-x: scroll;
    }

    #prediction-img {
        height: 100%;
        object-fit: cover;
    }

/*
    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
    }

    li {
        height: 200px;
        flex-grow: 1;
    }

    #prediction-box{
    }
*/
}