@media (max-width: 1000px) {
    .app-container{
        /*display: flex;
        flex-wrap: wrap;*/
        position: fixed;
        width: 100%;
        height: 100%;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        background-image: linear-gradient(#E1ECF2, #FFFFFF);
    }

    .menu-container{
        width: 100%;
        overflow-x: hidden;
        /*overflow-y: hidden;*/
    }

    .upload-image-container {
        width: 100%;
        position: relative;
        margin: 0;
        overflow: hidden;
    }

    .prediction-container{
        flex-grow: 1;
        width: 100%;
        background-color: red;
    }

    #slider-container{
        width: 100%;
        margin-top: 10px;
    }
    #pca_slider_0, #pca_slider_1, #pca_slider_2 {
        margin-top: 10vw;
        width: 30%;
        transform: scale(3.0);
    }

    #title {
        position: sticky;
        width: 100%;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 10px;
        padding-top:10px;
        padding-bottom: 10px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 700;
        font-size: 60px;
        border-radius: 0 0 5px 5px;
        background-color: #393C3D;
        color: #E1ECF2;
    }

    .description {
        margin: 20px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 38px;
        text-align: justify;
        color: #393C3D;
    }

    #upload-layout {
        width: 100%;
    }

    #embedding-plot-container {
        width: 50%;
        position: absolute;
        min-height: 50vw;
        top: 20%;
        right: -5%;
    }

    .upload-image {
        width: 50%;
        max-height:50vw;
        max-width:80vw;
        object-fit: cover;
        border-width: 2px;
        border-style: solid;
        border-radius: 20px;
        border-color: #393C3D;
        text-align: center;
        margin: auto;
        padding: 0;
        margin-bottom: 10px;
    }

    #select-description {
        font-family: 'Noto Sans', sans-serif;
        color: #999999;
        font-size: 20px;
    }

    #drag-box {
        position: relative;
    }

    #output-image-upload {
        margin: 5px;
    }

    #embedding-plot {
    }

    #output-image-prediction {
        width: 100%;
        display: flex;
        height: 50vw;
        overflow-x: scroll;
    }

    #prediction-img {
        height: 100%;
        object-fit: cover;
    }

/*
    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
    }

    li {
        height: 200px;
        flex-grow: 1;
    }

    #prediction-box{
    }
*/
}